{% extends 'recognitionpost/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <audio controls preload="auto">
        <source src="{{ post.files.url }}" type="audio/mpeg">
        </audio>
    </div>
{% endblock %}
